In [10]:
import pandas as pd


df = pd.read_csv("Cuisine_Maroc.csv")

df.head()

                            Job   Company  Type   Location
0                Chef de partie  FAIRMONT   NaN      Rabat
1          Directeur commercial  Barrière   NaN  Marrakech
2  Directeur de la Restauration  Barrière   NaN  Marrakech
3                  Chef Steward  FAIRMONT   NaN      Rabat
4             Event Coordinator  FAIRMONT   NaN      Rabat